body {
font-family: "Montserrat";
text-align: center;
}

h1, h2, h3, h4 {
    font-weight: 800;
}



#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}


.container-fluid {
    padding: 7% 15%;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-size: 3.2rem;
    line-height: 1.5; 
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.1rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
width: 290px;
transform: rotate(25deg);
margin-left: 35px;
position: absolute;

}

/* Features section */

#features {
    position: relative;
    z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
 padding: 2%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* cta section */

#cta {
padding: 7% 15%;
}

.cta-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer Section */


.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        ;
    }
}

.text-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: aqauamarine;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .middle {
    border-radius: 0;
    margin-bottom: -1px;
  }
  .bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  @media screen and (max-width: 300px) {
    .form-signin, .form-signin .form-control {
      width: 100%;
    }
  }